@import url('_variables');
@import url('_utils');
@import url('_fonts');
@import url('_IE');


.info_content {
    &>.header {
        font-weight: bold;
        .title {
            font-size: 1.2rem;
        }
    }
    &>.content {
        &>div {
            margin-top: 5px;
            .title {
                font-weight: bold;
            }
            ul {
                padding: 0;
                list-style: none;
            }
            img {
                margin: 2px;
                max-height: 40px;
                &.small {
                    max-height: 30px;
                }
                &.large{
                	max-height:none;
            	}
            }
            .images {
                img {
                    display: block;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                &.inline {
	                display: flex;
	                justify-content:space-around;
	            }
            }
            
        }
    }
}
.transcribe-page{
.btn-toolbar{
button{
font-size:11px;
}
select{
height:100%;
}
}

}
.team-page {
    &>div {
        margin-bottom: 5px;
    }
    .team {
        .member {
            margin-bottom: 5px;
        }
    }
}

.login-page {
    &.show-login {
        .register-form-wrapper {
            display: none;
        }
    }
    &.show-register {
        .login-form-wrapper {
            display: none;
        }
    }
    .login-form {

        &>div{
        margin-bottom:10px;
        input{
        padding:5px;
width:100%;
        }
        }
    }
}
.abc-page {
    
    .letters-table {
    width:100%;
    direction:rtl;
        tr {
            td {
                border: 1px solid #333;
                
                
                text-align: center;
                img {
                    margin:0;
                    max-height:none;
                height: 100%;
                }
            }
        }
    }
}
.tab-content {
    overflow-y: auto;
    overflow-x:hidden;
}

.tabContentTitle {
text-decoration: underline;
font-weight: bold;
font-size:18px;
}
.show{

#map{
	min-height:500px;
}
}
.info-page {

        overflow-y: auto;
        
    }

.rtl {
    direction:rtl;
    text-align:right;
    #info-page {
        border-right: 1px solid black;
        
    }
    }

    .ltr {
    direction:ltr;
    text-align:left;
    #info-page {
        border-left: 1px solid black;

    }
    }

    .info-page{
.flex-nowrap{overflow-x:auto;overflow-y:hidden;}
}
.login-page {
.login-form-wrapper{padding:5px;}
	.login-form{width:100%;margin-top:10px}

}
body {
@media (min-width: 768px) {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
overflow:hidden;
.login-page{
.login-form-wrapper{padding:0;}
	.login-form{max-width:450px;margin-top:0;}
}
.transcribe-page{
.btn-toolbar{
button{
font-size:12px;
}

}

}
&>div{
height: calc(100% - 130px); 
overflow:hidden;
}
.footer{
 position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-top:20px;
}
 }
 .video_tut{
 a{
 img{
 width: 100%; border: 1px solid black
 }
 }
 
 }
 .big_image{
             	background-image: url(/TS1218/images/midrash.png);
              background-repeat: no-repeat;
        background-size: cover;
        height:300px;
        width:100%;
 }
.tsbackground {
          
              	background-image: url(/TS1218/images/Banner_1900_100.png);
              background-repeat: no-repeat;
        background-size: cover;
        }

    .top-nav {
        white-space: nowrap;
        border-bottom: 1px solid #333;
        margin-bottom: 1px;
        a {
            color: black;
        }
    }

    
    .partner-logos {
    display:flex;
    flex-wrap:wrap;
        img {
            height: 45px;
            margin:5px;
        }
    }
    .logos {
        height: 60px;
        width: 60px;
    }
    .mmsg {      
        font-size: 18px;
        font-style: italic;
        font-weight:  bold;
        color: black;
    }
    #img-line {
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .leaflet-control-container {
    		 position: absolute;
    		  top: 0px;
    		  left: 0px; }
    #trw {
        height: 80px;
        font-size: 40px;
    }
    .toolbar {
        padding: 10px;
        background-color: #efefef;
    }
    
     .likert
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display:flex;
        
justify-content:space-between;
    }
   

.leaflet-control-layers{
display:none;
}
}